.modalholder {
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  overflow-y: scroll;
}

.container__modal {
  background: white;
  padding: 1rem 0;
  border-radius: 12px;
  border: 3px black solid;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

}

.close--button {
  font-size: 50px;
}

.modal--info {
  margin: 1.5rem 0;
  width: 50%;
  display: flex;
  align-self: center;
justify-content: space-between;
padding: 0 20px;
}

.modal-info1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-info2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.all-comments {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-self: center;
  /* align-items: flex-start; */
}

.comments-cont {
  width: 50%;
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
}

.comments {
  margin-top: 1.5rem;
 align-self: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input {
  margin-bottom: 1rem;
}

.comment {
  height: 100px;
}

.comment-button {
  width: fit-content;
}